@charset "UTF-8";


/*Fonte Importada do Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*Fonte Importada que foi baixada. OBS: OBSERVAR A PASTAR ONDE ESTA O ARQUIVO*/
@font-face {
    font-family: Android;
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}


/*Pode-se declarar variaveis dentro do root. Assim fica mais facil de identificar os elementos que forem usados. O root é uma pseudo-class. Você criar as variaveis globais dentro. Toda variavel css começa desse jeito que está ai no root.*/
:root {
    --cor0: #C5ebd5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c17;
    --cor5: #063d1e;
    --cor6: #ffffff;

    --fonte-padrao: arial, verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: 'Android', cursive;
}

* {
    /*Essa margin e padding faz com que as caixas fiquem cololadas na borda do site. OBS: CONFIGURAÇÕES GLOBAIS*/
    margin: 0px;
    padding: 0px;

}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);


}

a.externo::after {
    content: '\00a0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header>h1 {
    color: var(--cor6);
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);



}

header>p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: var(--cor6);
    max-width: 600px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);

}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.233);


}

nav>a {
    text-decoration: none;
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition-duration: .5s;
    /*Coloca uma animação na caixa em cima do link*/
}

nav>a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: var(--cor6);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 10px 10px;
    /*border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/

}

div.video {
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.6%;
    position: relative;
}

div.video>iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;

}

main h2 {
    font-family: var(--fonte-android);
    font-size: 1.3em;
    font-weight: normal;
    color: var(--cor5);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;

}

main img {
    width: 100%;
}

main img.pequena {
    display: block;
    margin: auto;
    max-width: 350px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    /*Recua o paragrafo*/
    font-size: 1em;
    line-height: 2em;
    /*Espaçamento entre linhas do texto*/

}

main strong {
    color: var(--cor4);
    font-weight: bold;

}

main a {
    font-weight: bold;
    color: var(--cor5);
    text-decoration: none;
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    background-color: var(--cor4);
}

aside>ul {
    list-style-type: '\2714\00a0\00a0';
    /*Pode colocar com o 1º codigo uma imagem de icone. Os dois ultimos codigos (\00a0\00a0) dá um espaço entre a imagem e a coluna*/
    list-style-position: inside;
    /*A lista vai para o lado de dentro do aside*/
    columns: 2;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.432);

}

aside h3 {
    background-color: var(--cor4);
    color: var(--cor6);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

footer {
    background-color: var(--cor5);
    color: var(--cor6);
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    text-decoration: none;
    /*Retira a linha debaixo do link*/
    color: var(--cor2);

}